<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="app-top-nav" id="app-header-nav">
        <div style="float:left;margin-top:10px;">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="openbtn" onclick="openNav()">☰ </a>
            }
        </div>
        <div style="float:left;margin-left:30px">
            <h2>Manage Condo</h2>
        </div>
        <div>
            @if (User.Identity.IsAuthenticated)
            {
                <div style="float:right;margin-top:7px;margin-right:10px;">
                    @Html.ActionLink("Sign Out", "Logout", "Home")
                </div>
                <div style="float:right;margin-top:28px;margin-right:10px;">
                    @User.Identity.Name
                </div>
            }
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
<div id="app-side-nav" class="app-left-nav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    @Html.ActionLink("Resident", "Index", "Resident")
    @Html.ActionLink("Parcels", "Index", "Home")
    @Html.ActionLink("Amenities", "Index", "Home")
    @Html.ActionLink("Parking", "Index", "Home")
    @Html.ActionLink("Property", "Index", "Property")
    @Html.ActionLink("Unit", "Index", "Unit")

    @if (User.IsInRole("Resident"))
    {
        @Html.ActionLink("Unit", "Index", "Unit")
    }
    @Html.ActionLink("Users", "Index", "User")
</div>
    }
    <div class="container body-content bg-white" id="main" style="background-color:white">
        <div class="color-black bg-white">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Manage Condo</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
